body {
  background-color: gray;
  height: 100vh;

}

/* The heart of the matter */
/* .testimonial-group > .row {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.testimonial-group > .row > .col-xs-4 {
  flex: 0 0 auto;
} */

* {
  padding: 0;
  margin: 0;
}